# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# User uploads and protected files
uploads/*
protected/*
!uploads/.gitkeep
!protected/.gitkeep

# Flask session files
flask_session/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

